* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: gray;
}

path,
i,
svg {
  pointer-events: none;
}

.colors {
  min-height: 80vh;
  display: flex;
  color: whitesmoke;
}

.color {
  height: 80vh;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  overflow: hidden;
}

.colors h2 {
  font-size: 2rem;
  cursor: pointer;
}

.sliders {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0%;
  background-color: lightgray;
  padding: 1rem;
  width: 80%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  transition: all 0.5s ease-in-out;
  transform: translateY(100%);
  opacity: 0;
  pointer-events: none;
}

.sliders.active {
  opacity: 1;
  transform: translateY(0%);
  pointer-events: all;
}

.sliders button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border: none;
  background-color: darkgray;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.controls {
  display: flex;
  flex-direction: column;
}

.panel {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 20vh;
}

.panel button {
  font-size: 1.2rem;
  margin: 1rem;
  padding: 1rem 2rem;
  background-color: lightblue;
  border: none;
  cursor: pointer;
  border-radius: 1rem;
}

.panel p {
  font-size: 1.2rem;
}

.library-panel,
.generate-panel,
.save-panel {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.adjust,
.lock {
  font-size: 2rem;
  border: none;
  background: none;
  cursor: pointer;
  margin: 2rem 0rem;
}

/* slider styles */

input[type="range"] {
  -webkit-appearance: none;
  margin: 1rem 0 rem;
  width: 100%;
  position: relative;
  border-radius: 1rem;
  cursor: pointer;
}

.copy-container {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease-in-out;
}

.copy-popup {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 2rem;
  transition: all 0.5s ease-in-out;
  transform: translateY(-2rem);
  min-width: 30%;
  min-height: 30%;
}

.copy-popup h3 {
  font-size: 2rem;
  padding: 2rem;
}

.copy-container.active {
  opacity: 1;
  pointer-events: all;
}

.copy-popup.active {
  transform: translateY(0rem);
}
