* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Do Hyeon", sans-serif;

  /* variables */
  --primary-light: #8abdff;
  --primary: #6d5dfc;
  --primary-dark: #5b0eeb;
  --white: #ffffff;
  --greyLight-1: #e4ebf5;
  --greyLight-2: #c8d0e7;
  --greyLight-3: #bec8e4;
  --greyDark: #9baacf;
}

body {
  color: gray;

  background-color: var(--greyLight-1);
}

path,
i,
svg {
  pointer-events: none;
}

.colors {
  min-height: 80vh;
  display: flex;
  color: whitesmoke;
}

.color {
  height: 80vh;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  overflow: hidden;
}

.colors h2 {
  font-size: 2rem;
  cursor: pointer;
}

.sliders {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0%;
  background-color: var(--greyLight-3);
  padding: 1rem;
  width: 80%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  transition: all 0.5s ease-in-out;
  transform: translateY(100%);
  opacity: 0;
  pointer-events: none;
  color: gray;
}

.sliders.active {
  opacity: 1;
  transform: translateY(0%);
  pointer-events: all;
}

.sliders button,
.close-save,
.close-library {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border: none;
  background-color: darkgray;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.controls {
  display: flex;
  flex-direction: column;
}

.panel {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 20vh;
}

.panel p {
  font-size: 1.2rem;
}

.library-panel,
.generate-panel,
.save-panel {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.adjust,
.lock {
  font-size: 2rem;
  border: none;
  background: none;
  cursor: pointer;
  margin: 2rem 0rem;
}

/* slider styles */

input[type="range"] {
  -webkit-appearance: none;
  margin: 1rem 0 rem;
  width: 100%;
  position: relative;
  border-radius: 1rem;
  cursor: pointer;
}

.copy-container,
.save-container,
.library-container {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(109, 93, 252, 0.4);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease-in-out;
}

.copy-popup,
.save-popup,
.library-popup {
  background-color: var(--greyLight-1);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 2rem;
  transition: all 0.5s ease-in-out;
  transform: translateY(-2rem);
  min-width: 30%;
  min-height: 30%;
}

.copy-popup h3,
.save-popup h3,
.library-popup h3 {
  font-size: 2rem;
  padding: 2rem;
}

.copy-container.active,
.save-container.active,
.library-container.active {
  opacity: 1;
  pointer-events: all;
}

.copy-popup.active,
.save-popup.active,
.library-popup.active {
  transform: translateY(0rem);
}

.close-save,
.close-library {
  border-top-right-radius: 2rem;
  border-top-left-radius: 0;
}

.save-name {
  width: 20.4rem;
  height: 4rem;
  border: none;
  border-radius: 1rem;
  font-size: 1.4rem;
  padding-left: 1.4rem;
  box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2),
    inset -0.2rem -0.2rem 0.5rem var(--white);
  background: none;
  font-family: inherit;
  color: var(--greyDark);
}
.save-name::placeholder {
  color: var(--greyLight-3);
}
.save-name:focus {
  outline: none;
  box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2),
    -0.2rem -0.2rem 0.5rem var(--white);
}

.preview {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 1rem;
}

.library-popup {
  width: 50%;
  max-height: 60%;
  overflow-y: scroll;
  -ms-overflow-style: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.library-popup::-webkit-scrollbar {
  display: none;
}

.preview-name {
  font-size: 1.5rem;
  flex: 1;
  flex-shrink: 1;
  max-width: 40%;
  overflow: hidden;
  margin-right: 1rem;
  align-self: center;
}

.colors-container {
  display: flex;
  justify-content: space-between;
  flex: 3;
}

.small-color {
  display: flex;
  flex: 1;
  height: 100%;
}

.preview-button {
  flex: 1;
  margin-left: 1rem;
  max-width: 20%;
  text-align: center;
}

.library-popup {
  display: inline;
}

.panel button,
.preview-button,
.submit-save {
  border: none;
  margin: 1rem;
  padding: 1rem 2rem;
  border-radius: 1rem;
  box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2),
    -0.2rem -0.2rem 0.5rem var(--white);
  justify-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s ease;
  color: var(--greyDark);
}
.panel button:hover,
.preview-button:hover,
.submit-save:hover {
  color: var(--primary);
}
.panel button:active,
.preview-button:active,
.submit-save:active {
  box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2),
    inset -0.2rem -0.2rem 0.5rem var(--white);
}
